body {
  font-family: Arial, sans-serif;
  background-color: #141638;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.flashcard {
  perspective: 1000px;
}
.flashcard-inner {
  position: relative;
  width: 300px;
  height: 250px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;
}
.flashcard.flipped .flashcard-inner {
  transform: rotateY(180deg);
}
.flashcard-front, .flashcard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgb(125, 114, 186);
}
.flashcard-back {
  transform: rotateY(180deg);
}

.button-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
button {
  background-color: #5a6fa4;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
}
button:hover {
  background-color: #3b4e7c;
}
